[2015-04-23 18:56] poulson opened #1 "Current Ubuntu GCC 4.9 seems to be buggy"
The current Travis output shows that there is an internal error in g++-4.9 when compiling Elemental: https://travis-ci.org/JuliaParallel/Elemental.jl/builds/59600456

Perhaps the Travis build should use g++-4.8 (or at least not put up a "build failing" logo for g++-4.9 errors)?

[2015-04-24 23:33] poulson commented on #1
Perhaps the PPA being manually added by Travis has out-of-date versions of the compilers?

[2015-09-30 03:35] jiahao opened #7 "No longer builds on Julia master after libgit2 change"
[code]

[2015-09-30 03:39] jakebolewski commented on #7
This has been fixed (for now) on Julia master until a `GitCmd` package of some sort materializes.

[2015-09-30 03:39] #7 closed

[2015-10-01 03:11] andreasnoack commented on #1
The Travis error is because of too much memory usage.

[2015-10-01 03:11] #1 closed

[2015-10-01 03:18] andreasnoack opened #8 ""ERROR: cannot serialize a pointer" with @async and @sync"
With the latest changes I've just pushed to master I can copy a `DArray` into `DistMatrix` on the MPI workers and get the `RemoteRef`s back. E.g.
[code]
and then I can compute the singular values with
[code]
which is fine and I will start wrapping this array of `RemoteRef`s in some type representing the remote `DistMatrix`. However, I'd like to use the `@sync for ... @async remotecall_wait` as wel

[2015-10-18 19:40] andreasnoack commented on #8
See https://github.com/JuliaLang/julia/pull/13190

[2015-10-25 16:19] JeffBezanson commented on #8
Does this use case require serializing pointers bit-for-bit, or would it be enough to deserialize them as NULL?

[2015-10-26 03:01] andreasnoack commented on #8
I'm pretty sure that NULL is fine. I shoud be able to avoid serializing pointers, but the main problem is when developing, I sometimes accidentially fetch a pointer and all my workers crash.

[2015-10-26 19:35] andreasnoack opened #21 "Print distributed matrices"
We'll have to figure out how to print a `DistMatrix` without getting `nworkers()` times the matrix in the output. Branching such that only rank zero is printed hangs.
[code]

[2015-10-26 19:36] andreasnoack commented on #8
Fixed by https://github.com/JuliaLang/julia/commit/77b2527fd91878d69d69908b60c29d977d2f8e92 and https://github.com/JuliaLang/julia/commit/aa1076d36e984b5ab0d5a808f4909707a5de24ab. Now we only have to wait on 0.5.

[2015-10-26 19:36] #8 closed

[2015-11-03 17:51] datnamer opened #26 "Single node out of core/on disk matrices?"
Can this library be used for linear algebra on single node, out-of-core datastructures like Dato's Sarray or a database  if we can represent a database as an abstract matrix? Maybe if there is some way to chunk up the datastructure and stream it into memory?

[2015-11-03 18:17] andreasnoack commented on #26
You can use it on a single node, but integrating it with out of core computations is not really on the agenda right now. If you have more specific ideas, feel free to prepare a proof and concept in a new issue.

[2015-11-03 18:17] #26 closed

[2015-11-03 18:19] datnamer commented on #26
Understood thanks.

[2015-11-14 18:19] ViralBShah opened #30 "Building Elemental on mac"
Is building on a mac supported? The Elemental build failed with:

[code]

[2015-11-14 18:26] poulson commented on #30
Hi Viral,

Yes, I had just temporarily broken master for Clang due to Ubuntu's GCC being more permissive. It should work now.

[2015-11-14 22:20] poulson commented on #30
Amateur hour should finally be over:
https://github.com/elemental/Elemental/commit/94a329242c1c4c9cdaf42192f223a2ad91d5cc3a

[2015-11-15 01:16] poulson commented on #30
I'll be flying blind with Clang support until Monday, but the following changeset attempts to make my new usages of `std::enable_if` closer to the C++14 implementation of `std::enable_if_t`: https://github.com/elemental/Elemental/commit/f34d44203fed11b6ca4f159f1ac64bc59edb3dcc

[2015-11-15 04:52] ViralBShah commented on #30
Thanks @poulson. Trying again now.

[2015-11-15 05:24] ViralBShah commented on #30
Now I get:

[code]

[2015-11-15 05:47] poulson commented on #30
@ViralBShah Progress! This should hopefully finish the job: https://github.com/elemental/Elemental/commit/57d89c9da11411ce3ec8e45f052b4f6255260a05

[2015-11-15 05:53] ViralBShah commented on #30
I did a `git pull` in the Julia package directory where Elemental sources are checked out and doing `Pkg.build()` again. Is there a better way to do this?

[2015-11-15 05:57] poulson commented on #30
I believe that is the best practice. Things have been much less stable than normal over the last week due to me pushing the library towards supporting some number theory (and my portable build cluster being half out of commission until Monday).

[2015-11-15 05:58] ViralBShah commented on #30
Still seeing these. I wonder if I am doing something wrong with the build.

[code]

[2015-11-15 06:00] ViralBShah commented on #30
Wiped Elemental and restarting Pkg.build.

[2015-11-15 06:02] ViralBShah commented on #30
Still dies with the same error as above.

[2015-11-15 06:04] poulson commented on #30
No, you're not doing anything wrong, I'm just hamstrung due to my Clang machine being temporarily out-of-commission and GCC apparently being extremely permissive with SFINAE in comparison. I'm trying to fix this ASAP by setting up a clang environment.

[2015-11-15 06:22] ViralBShah commented on #30
No worries. I can try again in a few days, once you get things running again.

[2015-11-15 06:35] poulson commented on #30
I now have a replacement clang build environment put together (after issues with clang-3.5 and clang-3.6 segfaulting compiling MPICH on Ubuntu); fix immenent

[2015-11-15 07:10] poulson commented on #30
@ViralBShah The clang build is now fixed for me as of this commit: https://github.com/elemental/Elemental/commit/45ac75a75ad6eb82de4ea840fd398d1ee8bd89be

Thanks for your patience!

[2015-11-15 13:35] ViralBShah commented on #30
Build succeeded. Thanks.

[2015-11-15 13:35] #30 closed

[2015-11-15 13:37] ViralBShah opened #31 "README example gives BoundsError"
[code]

[2015-11-15 13:39] ViralBShah commented on #31
Never mind - I missed calling `gaussian!`.

[2015-11-15 13:43] ViralBShah commented on #31
I can't get the `TSVD` example working:

[code]

[2015-11-15 18:01] poulson commented on #31
I assume that running `Pkg.add("TSVD")` before the example fixes the problem?

[2016-01-03 01:50] mlubin commented on #31
I also get the following failure on the example from the readme:
[code]

[2016-01-03 17:53] poulson commented on #31
@ViralBShah Did adding `Pkg.add("TSVD")` fix that for you?

@mlubin That makes no sense to me; what is the type of `A` after the `Elemental.DistMatrix(Float64)` call?

[2016-01-03 22:34] mlubin commented on #31
Not sure what's going on here:
[code]
Both Elemental and MPI are on master.

[2016-04-10 03:17] andreasnoack commented on #31
I'm not sure why I missed this issue here. @mlubin The issue you saw here was in MPI.jl and I fixed it in https://github.com/JuliaParallel/MPI.jl/pull/117

[2016-04-10 03:17] #31 closed

[2016-08-08 11:33] bluehope opened #37 "Support MVAPICH2 (& intel MPI)"
Is there any plan to support MVAPICH2 & intel MPI?

Intel MPI (which has binary compatibility with MVAPICH2) is also one of widely used MPI implementation.
It would be nice to Elemental to support MVAPICH2!

[2016-08-08 20:51] poulson commented on #37
Elemental absolutely supports every modern MPI implementation. I assume that you mean Elemental.jl?

[2016-08-09 02:03] bluehope commented on #37
@poulson  Oh, Yes. I meant  "Elemental.jl". Thank you for the correction.

[2016-09-15 19:05] andreasnoack commented on #37
For some, I'd unwatched my package here so I've only seen this issue now. Soon, we'll change `MPI.jl` to use the C-API and also hard code various MPI implementations. When that PR is merged, I'll probably delete the MPI functions here and add `MPI.jl` as a dependency. Adding support for MVAPICH would then be a matter of adding support in `MPI.jl` and I guess it is basically a matter of copying the

[2017-03-21 19:10] usefulhyun opened #39 "Pkg.build in OS X"
Because gcc of OSX doesn't support openmp, I failed to install this package.
I have tried installing with "brew install gcc and made an alias gcc='gcc-6'".
But package installer still doesn't work.

[2017-03-21 19:52] andreasnoack commented on #39
Why do you want to use GCC? The default on macOS is Clang. I've just tried on my machine at seems to work. Please give the precise error message.

[2017-03-21 19:59] usefulhyun commented on #39
macOS default gcc calls clang, so I mentioned gcc and it does not support openmp.
The error message is below.
LoadError: failed process: Process(`cmake -D CMAKE_INSTALL_PREFIX=/Users/usefulhyun/.julia/v0.5/Elemental/deps/usr -D INSTALL_PYTHON_PACKAGE=OFF -D PYTHON_EXECUTABLE= -D PYTHON_SITE_PACKAGES= -D EL_USE_64BIT_INTS=ON -D EL_USE_64BIT_BLAS_INTS=ON -D MATH_LIBS=/Applications/Julia-0.5.app/Cont

[2017-03-21 20:07] andreasnoack commented on #39
Do you have CMake installed?

[2017-03-21 20:10] usefulhyun commented on #39
Yes, I installed CMake, I tried the same installation way on Ubuntu 14.04, and it works.
My cmake version is 3.7.2.

[2017-03-21 20:17] andreasnoack commented on #39
Is there more output from the failed build?

[2017-03-21 20:22] usefulhyun commented on #39
Here is the entire error message.

INFO: Building Elemental
-- The C compiler identification is AppleClang 8.0.0.8000042
-- The CXX compiler identification is AppleClang 8.0.0.8000042
-- Check for working C compiler: /Library/Developer/CommandLineTools/usr/bin/cc
-- Check for working C compiler: /Library/Developer/CommandLineTools/usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C

[2017-03-21 20:44] andreasnoack commented on #39
The failure is not because of OpenMP but because CMake can't find a specific symbol in OpenBLAS. I just tested locally with the downloaded binary and I don't see the error. What do you get from
[code]

[2017-03-22 01:18] usefulhyun commented on #39
What I get from the commend above

000000000001afb0 T _cblas_daxpy64_
000000000001a080 T _daxpy_64_
00000000010a4ea0 t _daxpy_k_ATOM
0000000000ddeee0 t _daxpy_k_BARCELONA
0000000000f462c0 t _daxpy_k_BOBCAT
0000000001980000 t _daxpy_k_BULLDOZER
0000000000536b00 t _daxpy_k_CORE2
0000000000760180 t _daxpy_k_DUNNINGTON
000000000314a650 t _daxpy_k_EXCAVATOR
0000000003300000 t _daxpy_k_HASWELL
000000000

[2017-03-22 01:25] andreasnoack commented on #39
I tried with the downloaded app from julialang.org. Isn't that the one you use?

[2017-03-22 01:30] andreasnoack commented on #39
Please also share the content of `/Users/usefulhyun/.julia/v0.5/Elemental/deps/builds/CMakeFiles/CMake*.log`

[2017-03-22 01:40] usefulhyun commented on #39
I got julia from brew's Caskroom/cask/julia

[CMakeError.txt](https://github.com/JuliaParallel/Elemental.jl/files/860130/CMakeError.txt)
[CMakeOutput.txt](https://github.com/JuliaParallel/Elemental.jl/files/860131/CMakeOutput.txt)

[2017-03-22 02:46] staticfloat commented on #39
@usefulhyun it looks like your MPI compiler isn't finding `libgfortran` properly.  Did you perhaps uninstall `gcc` recently?  It looks like your `mpich` installation is from Homebrew, can you remove it (`brew rm mpich`) and then add it back again (`brew install mpich`) and see if the issue persists?

[2017-03-22 03:04] usefulhyun commented on #39
@staticfloat I don't uninstall it, I tried removing and reinstalling mpich, but it still does't work.

[2017-03-22 03:17] staticfloat commented on #39
I tested with julia installed via `brew install staticfloat/julia/julia` and it works.  However, using `brew cask install julia` does not work.  I'm debugging now, but if you just want this to work, you can try removing the cask-installed Julia and using the version installed from my Homebrew tap.

[2017-03-22 04:02] staticfloat commented on #39
I'm unable to look into this any more tonight.  There's something going wrong with the Cask version of Julia that doesn't happen with either the pure homebrew tap, or the official binary.  You should probably report this to the homebrew Cask people.  :(

[2017-03-22 04:06] usefulhyun commented on #39
@staticfloat Thank you, I am trying building staticfloat/julia, and it already passed where I got stuck before. It's problem with the homebrew Casek.
And thank you @andreasnoack  also!.

[2017-03-22 04:06] #39 closed

[2017-03-30 11:15] tkelman commented on #39
The cask binary should be exactly the same as the dmg build, just extracted to a particular location. Do they do anything more complicated to the folder structure? I've been thinking we should deprecate the staticfloat/julia tap for releases in favor of cask, since the latter won't get its dependencies changed out from underneath it.

[2018-06-15 18:16] stevengj opened #44 "norm(matrix) -> opnorm(matrix) in Julia 0.7"
It looks like may be using `norm(matrix)`.  In Julia 0.7, this will compute the Frobenius norm (`vecnorm` in Julia 0.6), due to JuliaLang/julia#27401.   If you want the induced/operator norm as in Julia 0.6, use `opnorm(matrix)` instead, or `Compat.opnorm(matrix)` to work in 0.6 and 0.7 (JuliaLang/Compat.jl#577).

Note that, for testing purposes, rather than `@test norm(A - B) ≤ tol`, it is usuall

[2018-11-19 10:41] #44 closed

[2019-08-22 08:47] ckoe-bccms opened #50 "Link to Elemental library points to nirvana"
Hello,

the two links directly visible at the top of Readme.md (and some other places I suspect) to
```https://libelemental.org/``` and ```http://web.stanford.edu/~poulson/``` appear to be invalid ?
The ```https://libelemental.org/``` link gives an empty/placeholder wordpress page and ```http://web.stanford.edu/~poulson/``` is Stanfords "Object Not Found" page at least at the time I followed them.

[2020-01-22 18:40] ViralBShah opened #52 "Provide BB binaries"
Now that we are close to having MPI.jl use BB MPI binaries, it would be nice to have Elemental through BB too.

[2020-01-24 08:01] andreasnoack commented on #52
How would that work with custom MPIs?

[2020-01-24 08:48] ViralBShah commented on #52
I guess it would not. You have to be on your own then. Quite likely people with custom MPI are also using custom compilers.

[2020-01-24 12:26] andreasnoack commented on #52
I think that, right now, we'd be able to compile against the custom MPIs. I'm curious how MPI.jl handles this case.

[2020-01-24 13:09] ViralBShah commented on #52
MPI.jl is easier. Use an environment variable or some other mechanism to pick BB or system.

https://github.com/JuliaParallel/MPI.jl/issues/328

We can retain the scripts to compile against a system MPI.

[2020-02-11 14:49] ViralBShah commented on #52
You could also retain the code to build and link against a system MPI, while having BB provided Elemental as default.

I think a meaningfully useful MPI setup with common MPI libs that works out of the box would greatly reduce dev effort and get us a working system out of the box.

Do we know if people compile Elemental against system MPI through the supplied build scripts in this package?

[2020-04-09 21:44] ViralBShah commented on #52
@christopher-dG has built BB binaries for Elemental and we already have MPICH. The next step is to update this package to use them.

[2020-04-09 22:10] christopher-dG commented on #52
Is 1.0 compatibility a priority? It can be done but it's simpler to just drop it.

[2020-04-09 22:22] ViralBShah commented on #52
Drop it.

[2020-04-13 15:13] #50 closed

[2020-04-13 15:14] ViralBShah commented on #52
I just realized that Elemental is forked by LLNL, and as per Elemental's github page, the LLNL fork is the currently maintained one. It also has a more recent release:

https://github.com/LLNL/Elemental

I updated the README to point to it.

[2020-04-13 15:51] christopher-dG commented on #52
Yeah I saw it too, but went with the one that was already in use to avoid any breakage. In the future we should definitely look at the newer release.

[2020-04-13 17:07] ViralBShah commented on #52
Yeah, I think that was the right decision. Use the one for now we know that works, but then get the new one in BB as well to pave the way for updating to the new one.

[2020-04-13 19:40] christopher-dG commented on #52
Getting segfaults... https://travis-ci.org/github/JuliaParallel/Elemental.jl/jobs/674554725

[2020-04-13 20:09] ViralBShah commented on #52
Is it a matter of just one test failing, or just about everything. I guess we have to get into some internals. @andreasnoack Are you familiar with this codebase?

[2020-04-13 20:25] christopher-dG commented on #52
Here's the most recent one: https://travis-ci.org/github/JuliaParallel/Elemental.jl/jobs/674568005

Some stuff is passing, but about half of the cases are causing segfaults. It's kind of hard to tell though because the tests don't exist in a normal `@testset` (probably due to them needing to run via `mpiexec`).

[2020-04-13 20:34] ViralBShah commented on #52
Do they fail on your local machine also?

[2020-04-13 20:40] christopher-dG commented on #52
Yeah they do.

[2020-04-13 20:40] ViralBShah commented on #52
I am unable to `dev Elemental` perhaps because it doesn't have a Project.toml.

[2020-04-13 20:45] christopher-dG commented on #52
Yeah you'll have to clone manually and then checkout my branch. I'm also working on a `cdg/jll2` branch that contains more minimal changes to try to make sure that I'm not accidentally breaking anything.

[2020-04-13 22:49] ViralBShah commented on #52
I wonder if we can add a `Project.toml` so it's easier to dev. I'll check it out manually in the meanwhile.

[2020-04-14 08:25] andreasnoack commented on #52
I'll try to add a project file shortly and then we can use that version to compare with.

[2020-04-19 17:11] ViralBShah opened #56 "README single processor svd example does not work"
I'm using Julia 1.4 and Elemental.jl 0.5 (which downloaded and built Elemental through deps/build.jl)
[code]

[2020-04-19 17:13] ViralBShah opened #57 "README simple example with MPI doesn't work"
[code]

[2020-04-19 17:19] #57 closed

[2020-04-19 17:31] ViralBShah opened #58 "README TSVD example does not work"
Irrespective of whether I use the released version of TSVD or the master, everything simply hangs in the `tsvd` call.

[2020-04-19 18:07] andreasnoack commented on #58
I can confirm this one. Based on the stack trace of the workers when I killed them, I think it's actually working but that the multiplication now, for some reason, hits the generic fallback in LinearAlgebra
[code]
which is of course extremely slow for distributed arrays. Some multiplication dispatch must have changed. I'll look into it once I've finish the upgrade to project file (it's been pretty

[2020-04-19 19:05] andreasnoack commented on #58
I think I might have broken this with https://github.com/JuliaParallel/Elemental.jl/pull/43.

[2020-04-19 20:25] andreasnoack commented on #52
I finally managed to get CI passing and have merged https://github.com/JuliaParallel/Elemental.jl/pull/55 so now we have a project file. I had to temporarily disable testing on Mac but will try to enable that again once Iøve figured out which compilers I'm now supposed to used on Travis macOS.

[2020-04-19 21:24] christopher-dG commented on #52
And this week I'll be taking a deep dive trying to get the BB-compiled libEl to work...

[2020-04-19 21:53] ViralBShah commented on #52
FWIW, the first sequential code example in the README is broken - so I don't think it is a BB binaries issue. Try the second or the third one, which works.

[2020-04-19 21:54] christopher-dG commented on #52
I've just been basing it on the tests. About half of them segfault or something along those lines.

[2020-04-19 21:56] ViralBShah commented on #52
Yeah - then there is no option but to dive in and fix the issues.

[2020-04-20 04:16] #58 closed

[2020-04-20 04:34] andreasnoack commented on #52
The broken example was just because the convert method used the old array constructor without the `undef` part, see #60, so if there are segfaults it's definitely something deeper.

[2020-04-20 06:42] andreasnoack commented on #56
Closed by https://github.com/JuliaParallel/Elemental.jl/pull/60

[2020-04-20 06:42] #56 closed

[2020-04-20 13:12] ViralBShah commented on #58
Thanks!

[2020-05-12 13:56] ViralBShah commented on #52
Should we tag a new release now that we have the BB binaries. Perhaps open new issues on segfaults and such as we encounter?

[2020-05-12 14:33] andreasnoack commented on #52
#54 would need to get merged first, rigth?

[2020-05-12 22:51] ViralBShah opened #63 "Linear Regression example in README doesn't work"
All the other examples work fine. The linear regression doesn't work.

[code]

[2020-05-12 22:54] #52 closed

[2020-05-12 23:37] christopher-dG commented on #63
Have you tried using `copyto!` as recommended?

[2020-05-13 01:44] ViralBShah commented on #63
Yes, the `copyto!` does not produce an error. I haven't checked if it does the same thing that is intended. The `ridge` regression seems to work fine. The `lasso` fails to converge.

[code]

[2020-05-26 20:11] alanedelman opened #65 "two examples do not compose"
on the readme
the first example and the second example do not compose
a new user would naturally try both and get frustrated

perhaps the example that nominally states `without MPI` has a uniprocessor
MPI under the hood causing interference?

but still this is frustrating as a user experience

[code]

[2020-05-26 20:25] andreasnoack commented on #65
I can't reproduce this. Is it possible that you've called `MPI.Init()` in your session?

[2020-05-26 20:29] alanedelman commented on #65
nope, the entire session is as typed in 1.4.2

[2020-05-26 20:38] andreasnoack commented on #65
Which versions of `Elemental`, `MPI` and `MPIClusterManagers` are you using?

[2020-05-26 22:53] ViralBShah commented on #65
Tagged versions (currently). BTW, I had the same issue.

[2020-05-26 22:55] ViralBShah commented on #65
I do believe this used to work before the recent round of tagging new versions of packages.

[2020-05-27 06:33] andreasnoack commented on #65
Yeah. I was on a dev branch that didn't have the `_jll` stuff. After freeing, I'm getting
[code]
which used to be false so for some reason we are now automatically initializing `MPI` when loading `Elemental`. I'm wondering if this might be because `Elemental` and `MPI` are now using the same MPI "instance" where they didn't use to.

Oh, the joy of MPI. Maybe we can add a comment that each of the e

[2020-05-27 12:33] ViralBShah commented on #65
Maybe just do one intialization?

[2020-05-27 12:54] andreasnoack commented on #65
Part of the idea with the first example is that you don't have to setup an MPIClusterManager if you don't run distributed. However, this is needed for the second example.

[2020-05-27 12:58] ViralBShah commented on #65
Is the first example single core?

[2020-05-27 14:35] andreasnoack commented on #65
Yes. `Elemental.Matrix(Float64)` is a non-distributed array type.

[2020-05-27 16:58] ViralBShah commented on #65
It would be nice to lead with a parallel example. I might even suggest just dropping that one. I already have LAPACK and multi-threaded blas...

[2020-05-27 17:11] alanedelman commented on #65
i would drop the single processor example

On Wed, May 27, 2020 at 12:58 PM Viral B. Shah <notifications@github.com>
wrote:

[2020-05-28 14:51] ViralBShah opened #66 "Documentation for the package"
Filing a help needed issue to put together Documenter based documentation for this package.

[2020-05-28 14:59] alanedelman opened #67 "readme suggestions"
Simple SVD example without MPI
---> is a more accurate to say
Simple SVD example without explicit use of MPI.jl  (MPI on 1 processor is under the hood)

[2020-05-28 15:02] ViralBShah commented on #67
Updated.

[2020-05-28 15:02] #67 closed

[2020-05-28 15:05] ViralBShah commented on #66
@andreasnoack Could you list in the README, the current set of capabilities available in the package, and a sort of quick roadmap of the next set of things to add? This will help people pick up the project.

@alanedelman ^

[2020-05-28 15:41] ViralBShah commented on #37
We no longer build the sources here. So the only options are  - use what ships with BinaryBuilder, or provide your own custom build. Note that while MPI.jl allows custom builds, Elemental.jl does not yet.

[2020-05-28 15:44] ViralBShah commented on #63
Should the README be updated for `copyto`?

[2020-06-02 19:47] ViralBShah opened #68 "SVD takes too much memory (and time)"
I am doing an svd of a 10^4 x 10^4 matrix using Elemental. That's about 1GB of RAM, and the computer has 64G. With LAPACK (Julia svd), it takes about 3 mins using 16 cores. With Elemental, it ran over 15 mins and started heavily swapping to disk and I had to kill it.

[code]

[2020-06-02 20:17] ViralBShah commented on #68
I think the machine was over-subscribed with other things. I will reopen if I really run into an issue.

[2020-06-02 20:17] #68 closed

[2020-06-05 18:15] alanedelman commented on #66
i'd love for performance guidance right on top of when an svd from elmental might be beneficial  --- example a statement that suggests that at least on one machine with 16 processors, we found a performance increase over lapack with mkl and open blas.....

and if there is a way others can add performance anecdotes in a useful way...

[2020-06-05 18:48] ViralBShah commented on #66
Julia with MKL for SVD:
[code]

With Elemental using 20 processors using the example in the README:
[code]

[2020-06-05 20:50] andreasnoack commented on #66
I'm a little surprised by this. Would it be easy to try MKL's `LAPACK.gesvd!`. Our `svd` calls `LAPACK.gesdd!`.

[2020-06-05 20:51] ViralBShah commented on #66
BTW, LAPACK+OpenBLAS (the julia default) is 170s.

[2021-06-15 23:34] JBlaschke commented on #37
Hi, is there a way we can speed up this update? I volunteer my time. At NERSC we need to build against the system MPI, so I am happy to help out if this means we can deploy Elemental.jl on our systems sooner.

I am still a bit new to BB, so can someone give be some guidance how I can "opt out of" BB provided binaries?

[2021-06-15 23:53] JBlaschke commented on #37
Btw @ViralBShah  in Julia 1.6.0 we get
[code]
As a workaround I tried:
[code]
but that doesn't fix it. TBH, I can only see one place where `MPICH_jll` is needed -- here: https://github.com/JuliaParallel/Elemental.jl/blob/83089155659739fea1aae476c6fd492b1ee20850/test/runtests.jl

Then again, I don't know much about BinaryBuilder but it looks like `Requires` goes through the package specs, and throw

[2021-06-16 00:00] JBlaschke commented on #37
Follow-up: is there a way to drop the `MPICH_jll` requirement in https://github.com/JuliaBinaryWrappers/Elemental_jll.jl ?

[2021-06-16 06:36] andreasnoack commented on #37
MPI.jl has a mechanism that allows for using a system MPI instead of the BB provided MPI. However, it's really not clear to me how that can work here unless we reintroduce the code for building Elemental as part of this package. We could try to mimic the MPI.jl code and link against a system provided libelemental but, historically, it was important to keep a tight connection between the version of

[2021-06-16 14:43] JBlaschke commented on #37
@andreasnoack if you can share with me the BB code that was used to generate `Elemental_jll` (the `build_tarbals.jl`? As I said, I'm new to this) then I could take a stab at a locally build one. I think we can't get around an `Elemental_jll` because `Elemental.jl` references it in its source: `using Elemental_jll: libEl`. My strategy at NERSC would then be to provide our own `Elemental_jll` in our

[2021-06-16 18:12] andreasnoack commented on #37
It's here, https://github.com/JuliaPackaging/Yggdrasil/blob/master/E/Elemental/build_tarballs.jl, but I don't see why it would be easier to modify `Elemental_jll` instead of just `Elemental.jl`.

[2021-06-17 13:55] JBlaschke commented on #37
Thanks @andreasnoack I'll take a stab at this and let you know. This is easier because _I_ don't need elemental. Several of our users do. So I could explain to each of our users how to modify `Elemental.jl`. Or I could build our own NERSC-specific `Elemental_jll` which would live in our global admin depot (alongside of our `MPI.jl`). If I do things right, this should be automatically picked up whe

[2021-06-17 14:04] JBlaschke commented on #37
Another question @andreasnoack -- why do you use the deprecated elemental repo instead of https://github.com/LLNL/Elemental ? The LLNL version comes with CUDA support.

[2021-06-17 14:52] ViralBShah commented on #37
I think the last time I checked, I could not get the build to work in the new repo. We are not yet ready to enable CUDA support in BinaryBuilder, because we don't have infrastructure to distribute CUDA-built binaries. @maleadt may be able to say when we can expect that.

In the meanwhile, we can certainly switch to the new repo. @Would you be able to submit a PR?

[2021-06-17 14:53] andreasnoack commented on #37
What I don't understand is why it would be easier to put `Elemental_jll` there instead of just putting a modified version of  `Elemental.jl` in your global admin repo.

[2021-06-17 22:20] JBlaschke commented on #37
@andreasnoack a user might want a specific version/make their own changes. This seems to be more maintainable: unless the `libEl` build instructions change -- if I understand this correctly -- I can just re-build `libEl` locally. On the other hand, if I maintain a patched `Elemental.jl`, then I need to re-apply the patch (and possibly re-build `libEl` anyway) every time I update `Elemental.jl`.

A

[2021-06-18 12:14] ViralBShah commented on #37
What we should really do is update Elemental_jll to be from the new repo. Then update Elemental.jl to use those new binaries, and whatever features are needed to use a system Elemental - put them behind an environment variable. We are happy to update the upstream package to allow whatever local configuration is necessary.

[2021-06-18 16:31] ViralBShah commented on #37
Here's some of the problems trying to build the Elemental from LLNL:

https://dev.azure.com/JuliaPackaging/Yggdrasil/_build/results?buildId=11741&view=logs&j=bdc19914-4824-529b-e606-c39779d9c0ef&t=ca989bc1-9e4f-55b3-32df-8eaed39b717f&l=2625

[2021-10-03 05:59] JBlaschke opened #72 "Understanding Elemental's Performance"
Hi,

I am trying to understand the performance of this program  at NERSC-- it is basically the same as the example in the README.md, except that I `addprocs` currently doesn't work, so I am using this (manual) approach of running the `MPIClusterManager` using `start_main_loop`, and `stop_main_loop`
[code]
I ran some strong scaling tests on 4 Intel Haswell nodes (https://docs.nersc.gov/systems/cori

[2021-10-05 12:23] andreasnoack commented on #72
First, it might be useful to confirm that the same pattern shows up with you try to compile a C++ version of this problem.

[2021-10-06 20:06] JBlaschke commented on #72
That was what I was thinking. Unfortunately I am not familiar with how to use Elemental, and the docs hosting seems to be broken (and I can't find the docs sources either). Do you know where I can find a copy of the full docs? I am looking for the C++ equivalent of: `Elemental.DistMatrix`, `Elemental.gaussian!`, and `svd`, so that I can replicate the example above in C++.

I am able to build libEl

[2021-10-06 23:00] JBlaschke opened #73 "Examples of Communcations Patterns in Elemental"
I am not sure how to convert a local Array into `Elemental.DistMatrix`. The example in the README (and that I have used in #72 ) use `Elemental.gaussian` to fill a `DistMatrix`. However for a realistic workflow, I need to load distributed pieces of data (each local to a rank) and "fill" the `DistMatrix` locally. I seem grid objects mentioned, so there must be some way to specify which indices map

[2021-10-07 05:04] andreasnoack commented on #72
The source for the documentation is at https://github.com/elemental/elemental-web. I've asked your colleague at LLNL if they could start hosting the docs since they are already maintaining the fork of Elemental, https://github.com/LLNL/Elemental/issues/80#issuecomment-937447310.

[2021-10-07 06:10] andreasnoack commented on #73
Take a look at https://github.com/JuliaParallel/Elemental.jl/blob/83089155659739fea1aae476c6fd492b1ee20850/test/lav.jl#L39-L74. This is a distributed *sparse* matrix but the process is similar in the dense case. You first select all the elements to be distributed from local arrays with `queueUpdate` and then you process the queries.

[2021-10-07 18:21] andreasnoack commented on #72
I had the pleasure of spending some days at NERSC a couple of years ago while working on a project where we ran Julia code on Cori so I'm well aware that it's two different labs. The "colleagues" was in the sense that you both are under DOE. The folks at Livermore forked Elemental a couple of years ago so it would make sense for them to host the documentation but if you don't mind doing it would a

[2021-10-11 15:16] dh-ilight opened #74 "How to go from files to distributed matrix."
I have files each holding 1 column of an array. I would like to create an Elemental.DistMatrix from these files.
I would like to load the DistMatrix in parallel.
An earlier question was answered by pointing to Elemental/test/lav.jl
I made the following program by extracting from lav.jl. It works for a single node and hangs for 2 nodes using mpiexecjl.
I am using Julia 1.5 on a 4 core machine runni

[2021-10-11 16:16] JBlaschke commented on #74
Based on a NERSC user ticket which inspired #73 @andreasnoack

@dhiepler can you put the code snippet in a code block (put ` ```julia ` at the beginning and ` ``` ` at the end)

[2021-11-17 17:09] dhiepler opened #75 "How do I use svdvals in parallel ?"
My goal is to add svd(A::DArray) to the julia interface to elemental. I have been looking at svdvals
for understanding how to do it.  But I do not know how to use svdvals in parallel. The following program
has a sum of diffs of close to 0 when using a single process. When I run it with julia -p 2 the sum of diffs is large.
How do I convert the program to run in parallel ?

[code]

[2021-11-18 10:57] JBlaschke commented on #75
Hi @dhiepler -- I also saw your trouble ticket at NERSC, let me respond here so that the community can weigh in.

without having tried it myself (I am currently traveling, and have bad internet -- and alas my burner laptop doesn't have Julia), here are some ideas:
1. Are `a` and `b` ordered in the same way (normally it's a largest-to-smallest order but this should be checked)
2. Is `Matrix` the ri

[2021-11-24 22:00] JBlaschke opened #76 "Symbol not found: _dlacpy_64_ when calling svdvals on a DistribuedArray"
Hi,

I tried the example here: https://github.com/JuliaParallel/Elemental.jl#svd-example-with-distributedarrays-on-4-processors on my macOS 11.6.1 laptop and I get:
[code]

I'm wondering if this is a macOS problem (do I need to set a path maybe?), and if anyone here has any ideas.

[2021-11-25 05:03] andreasnoack commented on #76
It looks like you are fetching the wrong BLAS. How did you install the package as well as Julia?

[2021-11-25 09:19] JBlaschke commented on #76
I installed Julia using homebrew, and Elemental using the Pkg CLI.

When I look for `_dlacpy_` in libEl, I see that it needs `_dlacpy_64_`
[code]

But when I look for `_dlacpy_` on the entire system, I don't find `_dlacpy_64_` ... only `_dlacpy_` and variants like: `_LAPACKE_dlacpy_work`. I looked on the entire laptop using:
[code]

I assume that I need to install a specific version of BLAS.

[2021-11-25 09:37] JBlaschke commented on #76
Some more info: I did a system-wide search for all ELF references to `_dlacpy_` (i.e. not excluding the `U` entries from `nm` -- as I did above). The only references to `_dlacpy_64_` that I could find are in `libEL`. This leads me to believe that it's built against a different BLAS version than what's available on a mac.

Can you advise what I should install?

[2021-11-25 09:41] JBlaschke commented on #76
BTW @andreasnoack I have `openblas` installed (also using Homebrew), but that doesn't define the 64 version, just the standard `_dlycpy_`.

[2021-11-25 09:49] JBlaschke commented on #76
This is the way openBLAS is build in Homebrew: https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/openblas.rb

I wonder if the problem is that the  default is not built with `INTERFACE64=1` ...
https://github.com/JuliaLang/julia/issues/1527

[2021-11-25 13:15] andreasnoack commented on #76
The problem is the Homebrew julia. Please try the version from julialang.org. I believe it should fix the issue here.

[2021-11-27 11:04] JBlaschke commented on #76
I stumbled across the same solution. Thanks! However I prefer to have package managers manage my software for me. This made me try the Julia cask: `brew install --cask julia`. This also works, but duplicates a lot of system libraries (not a problem when your laptop has 1TB of SSD ... but a bit of an issue when you don't 😉 ). So I also built this Homebrew tap: https://github.com/JBlaschke/homebrew-

[2021-11-30 21:03] JBlaschke commented on #75
I have more information thanks also to @dhiepler, here is an expanded test program:

[code]

What I found was rather startling: it works fine on my laptop with more than one MPI rank. When I run it using MPI on Cori, then I get a constant factor difference in each element:

## One rank:
[code]

## Two ranks

[code]

## Four ranks

[code]

My crude guess would be that there is a factor difference o

[2021-12-01 08:45] andreasnoack commented on #75
I can reproduce the bug on my laptop. My guess is that this is an issue with the conversion between Elemental arrays and DistributedArrays.DArray. If I just use the Elemental's `DistMatrix` then I don't get wrong results, i.e.
[code]

[2021-12-01 21:16] staticfloat commented on #76
As long as OpenBLAS ships with Julia, `OpenBLAS_jll` will always refer to that same BLAS library.  Because OpenBLAS is "special", it gets loaded at startup, and declaring a dependency on `OpenBLAS_jll` won't let you change which version of OpenBLAS you're loading; you're always going to get the one that Julia ships with (at least, for now!).

The issue here is that we make assumptions about what J

[2021-12-01 23:01] JBlaschke commented on #75
Thanks @andreasnoack -- I just verified that this also works on Cori. This leaves an open question given what @dhiepler is trying to do with the original code: How to create an Elemental array from an existing array (if not from a DArray) ?

[2021-12-04 02:41] vchuravy commented on #75
[code]

On https://github.com/JuliaParallel/Elemental.jl/pull/77 resulted for me in:

[code]

Meaning that the `Grid` configuration did not work. I double checked my MPI.jl and I was using `OpenBLAS_jll` as my MPI provider (I would believe that using the system MPI would yield the same effect.). The default `Elemental_jll` we are shipping uses `MPICH_jll`

You can check yourself with:

[code]

Aft

[2021-12-07 18:19] JBlaschke commented on #75
Thanks @vchuravy for looking into this also. Unfortunately it doesn't work on Cori. Is the `MPIClusterManagers` part necessary? (I find that it seems to hang/time out on Cori -- maybe we can look into why in a separate issue/part of the Julia for HPC group).

Taking out the `MPIClusterManagers` part, I get:
[code]
using the system MPICH (i.e. cray-mpich).

[2021-12-07 18:49] vchuravy commented on #75
Yeah the MPIClusterManager is necessary for the variant of the code that uses DistributedArrays otherwise the ranks are not wired-up correctly.

[2021-12-07 19:19] JBlaschke commented on #75
Oh Feck! So now I have to fix `MPIClusterManager` @vchuravy should I open an issue on https://github.com/JuliaParallel/MPIClusterManagers.jl?

[2021-12-07 19:43] vchuravy commented on #75
Please do :)

[2021-12-07 20:27] JBlaschke commented on #75
Done!

[2021-12-08 20:06] JBlaschke commented on #75
@vchuravy Based on our discussion in JuliaParallel/MPIClusterManagers.jl#26 your solution was to run the `addprocs` version _without_ `srun`. That won't work here though, because without `srun` running:
[code]
throws
[code]
when trying to initialize Elemental.jl

[2021-12-09 16:02] JBlaschke commented on #75
And if I avoid the `addprocs` and run the following within `srun`, I get:
[code]
I get a deadlock.

[2021-12-09 16:12] vchuravy commented on #75
Without srun, but with salloc?

[2021-12-09 17:35] JBlaschke commented on #75
Elemental needs `srun` (without `srun`, Elemental won't be able to initialize Cray MPICH)

[2021-12-09 18:32] vchuravy commented on #75
I am confused. MPIClusterManager should use `srun`/`mpiexec` to connect the "worker" processes which allows them to use Elemental and to communicate among themselves using MPI. The front-end should not need to run under mpiexec.

[2021-12-10 21:16] JBlaschke commented on #75
I don't know all the details at this point, but if I run Elemental (remember, we _don't_ use the one provided by BinaryBuilder -- that one doesn't use Cray MPICH, and therefore doesn't work on Cori -- but instead we build our own version using the Cray compiler wrappers) without `srun`, then I get:
[code]
This is a common error when a program runs `MPI_Init()` without being launched in `srun`. I h

[2021-12-10 21:20] vchuravy commented on #75
Oh yeah that makes sense. That is rather unfriendly behavior on the Cray side... We still load the Elemental library on the front-end process.

[2021-12-10 21:21] vchuravy commented on #75
Maybe we can use the PMI cluster manager I wrote https://github.com/JuliaParallel/PMI.jl/blob/main/examples/distributed.jl

[2021-12-14 22:36] JBlaschke commented on #75
Alas @vchuravy Cray MPICH wants PMI2 :(
[code]

[2022-03-10 19:06] dhiepler opened #78 "Can not copy DistMatrix"
[code]

[2022-03-21 18:04] wcwitt opened #79 "Broken link in README"
The Jack Paulson link in the README is broken. [This](https://hodgestar.com/jack.html) seems to be a current page for him, or perhaps it could link to the [paper](https://doi.org/10.1145/2427023.2427030)?

[2022-05-09 10:36] Sideboard commented on #37
Are there any new developments concerning this issue?

I wanted to test `leastsquares()` for distributed systems but ran into MPI vs MPICH errors. At least one cluster I'm working on uses Intel MPI so it seems like a serious constraint having to use MPICH for Elemental.jl.

[2022-05-16 15:27] bernstei commented on #37
To make the `BinaryBuilder` process more flexible, are there few enough ABIs (e.g. MPICH, which IntelMPI apparently also uses, and OpenMPI) that just having a couple (or a few, but still not too many) of versions of `libEl`, one for each ABI, is enough?  The actual runtime selection of `libEl` can be handled by an argument or env var, and the underlying MPI library by `LD_LIBRARY_PATH`.

With #64

[2022-05-23 04:03] vchuravy commented on #37
If someone want to take on https://github.com/JuliaPackaging/Yggdrasil/pull/4776 that would be great. Then we can provide binaries for OpenMPI & MPICH as well as our portability layer MPItrampoline

[2022-10-11 15:02] vchuravy commented on #37
@wcwitt if you want to take a look, you could start with #80. I won't have time to finish this any time soon, but that's my believe in how we could start rewriting Elemental.jl to make use of the multi-MPI support we now have in MPI 0.20

[2022-11-25 13:56] maleadt opened #81 "Segfault on PkgEval"
Daily PkgEval testing of Elemental.jl has been segfaulting for a while, e.g., https://s3.amazonaws.com/julialang-reports/nanosoldier/pkgeval/by_date/2022-11/24/Elemental.primary.log:

[code]

This doesn't seem like a Julia issue, but an issue with this package or libEL. As it's been at the top of PkgEval reports, could you take a look? If necessary, you can easily reproduce the PkgEval sandbox env